/iLQG_boxQP/outcmaesaxlen.dat
/iLQG_boxQP/outcmaesfit.dat
/iLQG_boxQP/outcmaesstddev.dat
/iLQG_boxQP/outcmaesxmean.dat
/iLQG_boxQP/outcmaesxrecentbest.dat
/iLQG_boxQP/variablescmaes.mat
/iLQR_Matlab/run_BACKUP_43467.m
/iLQR_Matlab/run_BASE_43467.m
/iLQR_Matlab/run_LOCAL_43467.m
/iLQR_Matlab/run_REMOTE_43467.m
